Repository cppsea/icebreak: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,md,html,css}": "eslint --fix",
  "*.{js,json,jsx,ts,tsx,md,html,css}": "prettier --write"
}

chore: changed allowedStatusValues (mispelled)
  packages/server/controllers/events.js
  packages/server/routes/api/events.js
Due: eslint --fix, prettier --write

feat: added event attendee status enum in Prisma schema
  packages/server/prisma/schema.prisma
Due: none

feat: an express-validator to check whether the current time is within the check-in time window
  packages/server/controllers/guilds.js
  packages/server/routes/api/events.js
  packages/server/validators/events.js
Due: eslint --fix, prettier --write

chore: not using try block in the controller
  packages/app/utils/constants.js
  packages/server/controllers/events.js
  packages/server/routes/api/events.js
Due: eslint --fix, prettier --write

feat: add post request for dates
  packages/app/screens/group/GroupScreen.js
  packages/app/screens/group/tabs/events/EventsCreationScreen.js
  packages/app/utils/constants.js
Due: eslint --fix, prettier --write

feat: added role property for guild members in Prisma schema
  packages/server/prisma/schema.prisma
Due: none

fix: fixed updateEventAttendeeStatus controller
  packages/app/utils/constants.js
  packages/server/controllers/events.js
  packages/server/routes/api/events.js
Due: eslint --fix, prettier --write

fix: hash tag added
  packages/app/utils/theme.js
Due: eslint --fix, prettier --write

feat: added imagepicker dependency
  packages/app/package.json
Due: prettier --write

feat: use dotenvx for management of multiple .env environments
  .gitignore
  packages/app/utils/constants.js
  packages/server/controllers/auth.js
  packages/server/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: yarn.lock
  yarn.lock
Due: none

fix: installed correct datepicker version
  packages/app/package.json
  yarn.lock
Due: prettier --write

fix: dismiss keyboard and added alerts on event submission
  packages/app/screens/group/tabs/events/EventsCreationScreen.js
  packages/app/utils/constants.js
Due: eslint --fix, prettier --write

feat: updated node to latest LTS 20.11.1 and latest dependencies
  .nvmrc
  package.json
  packages/app/package.json
  packages/server/package.json
  yarn.lock
Due: prettier --write

feat: added new login page and theme colors
  packages/app/assets/landing-background.png
  packages/app/assets/landing-banner.png
  packages/app/screens/landing/LandingScreen.js
  packages/app/utils/theme.js
Due: eslint --fix, prettier --write

feat: updated hardcoded colors to theme palete
  packages/app/screens/group/tabs/AboutScreen.js
  packages/app/screens/group/tabs/EventsScreen.js
Due: eslint --fix, prettier --write

fix: updated error logic
  packages/server/controllers/guilds.js
  packages/server/validators/events.js
Due: eslint --fix, prettier --write

feat: created validator for eventAttendeeStatus
  packages/server/validators/events.js
Due: eslint --fix, prettier --write

fix: switched controller to use upsert instead of update and use matchedData in route
  packages/app/utils/constants.js
  packages/server/controllers/events.js
  packages/server/routes/api/events.js
Due: eslint --fix, prettier --write

chore: removed unnecessary comments also in a previous commit i changed updatedEventAttendeeStatus --> eventAttendee
  packages/server/controllers/events.js
Due: eslint --fix, prettier --write

chore: installed best expo dependency versions for expo sdk version
  .gitignore
  .yarnrc.yml
  packages/app/package.json
  yarn.lock
Due: prettier --write

fix: fixed validator(s) - changed attendeeStatusValidator to use .matches instead of .custom - moved the userIdBodyValidator part into users.js
  packages/app/utils/constants.js
  packages/server/routes/api/events.js
  packages/server/validators/events.js
  packages/server/validators/users.js
Due: eslint --fix, prettier --write

feat: add controller functions
  packages/server/controllers/guilds.js
Due: eslint --fix, prettier --write

refactor: adjust getGuildMembers route name
  packages/server/controllers/guilds.js
  packages/server/routes/api/guilds.js
Due: eslint --fix, prettier --write

API Checking in to Guild Event (#44)
  packages/server/controllers/events.js
  packages/server/controllers/guilds.js
  packages/server/prisma/schema.prisma
  packages/server/routes/api/events.js
  packages/server/validators/events.js
  packages/server/validators/users.js
Due: eslint --fix, prettier --write

fix: fixed validation for userIdBody and attendeeStatusValidator added .bail() to user id body validator and added validation checking that member is part of guild
  packages/server/validators/events.js
  packages/server/validators/users.js
Due: eslint --fix, prettier --write

fix: moved validation for user in guild to userId body field
  packages/app/utils/constants.js
  packages/server/controllers/guilds.js
  packages/server/validators/events.js
  packages/server/validators/users.js
Due: eslint --fix, prettier --write

revert: readded upcoming events code removed from previous merge commit
  packages/server/controllers/events.js
  packages/server/routes/api/events.js
Due: eslint --fix, prettier --write

feat: updated package.jsons
  package.json
  packages/app/metro.config.js
  packages/app/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: isGuildMember Prisma query
  packages/server/controllers/guilds.js
Due: eslint --fix, prettier --write

fix: fix controller functionality
  packages/server/controllers/guilds.js
Due: eslint --fix, prettier --write

feat: add delete member route
  packages/server/routes/api/guilds.js
Due: eslint --fix, prettier --write

Event attendee status route (#50)
  packages/app/utils/constants.js
  packages/server/routes/api/events.js
  packages/server/validators/events.js
  packages/server/validators/users.js
Due: eslint --fix, prettier --write

feat: change getGuildMember return type
  packages/server/controllers/guilds.js
Due: eslint --fix, prettier --write

feat: added create/update routes
  packages/server/routes/api/guilds.js
  packages/server/validators/guilds.js
Due: eslint --fix, prettier --write

feat: added data validation to the onboarding api
  packages/app/utils/constants.js
  packages/server/routes/api/users.js
  packages/server/validators/users.js
Due: eslint --fix, prettier --write

feat: expo app working after Node and dependency updates to latest
  packages/app/Root.js
  packages/app/eas.json
  packages/app/package.json
  packages/app/screens/feed/FeedDrawer.js
  packages/app/utils/constants.js
  yarn.lock
Due: eslint --fix, prettier --write

Node.js and Dependency Version Updates to Latest (#51)
  .gitignore
  .nvmrc
  .yarnrc.yml
  package.json
  packages/app/Root.js
  packages/app/eas.json
  packages/app/metro.config.js
  packages/app/package.json
  packages/app/screens/feed/FeedDrawer.js
  packages/app/utils/constants.js
  packages/server/package.json
  packages/server/routes/api/events.js
  packages/server/validators/events.js
  packages/server/validators/users.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: new app icons and splash screen
  packages/app/assets/adaptive-icon.png
  packages/app/assets/icon.png
  packages/app/assets/splash.png
Due: none

chore: config changes in package.json and some code cleanup
  package.json
  packages/app/package.json
  packages/server/controllers/auth.js
  packages/server/package.json
  scripts/run.js
  yarn.lock
Due: eslint --fix, prettier --write
